.buscador{
    display: flex;
    align-content: center;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

}
.buscador p{
    display: flex;
    font-size: 45px ;
    font-family: cursive color rgb(223, 223, 66);
    font-weight: 600;
    color: antiquewhite;

}

.buscador input{
    margin: 15px;
    box-shadow: 5px 5px 15px;
    border-radius: 12%;
    border: solid antiquewhite;
    width: 250px;
    height: 50px;
    background-image: url(../assets/donas.jpg)
    
}