body{
    background-image: url(../assets/bart.webp);
    background-repeat: no-repeat;
    background-size: 100%;
}
.acceso{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 60px;
    color: rgb(223, 223, 66);
    font-family: cursive;
}

.boton{
    width: 150px;
    display: flex;
    justify-content: center;
}



    