body{
    background-image: url(../assets/simpsons-en-bici-background-fx10eork97d81isc.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100vh;
}
.acceso{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 60px;
    color: yellow;
    font-family: cursive;
}

.inicio-submit{
    font-size: 60px;
    opacity: 31%;        

}